.home-statistic {
  .card {
    border-radius: 8px;
    .ant-statistic-content,
    .ant-statistic-title {
      color: #fff;
    }
  }
  .bg-color-1 {
    background-color: #037779;
  }

  .bg-color-2 {
    background-color: #e49546;
  }

  .bg-color-3 {
    background-color: #801b80;
  }

  .bg-color-4 {
    background-color: #0433ff;
  }

  .bg-color-5 {
    background-color: #008002;
  }
}
